<!DOCTYPE html>
<html>
<head></head>
<body>

  <% if session[:message] %>
    <div>
      <p><%= session.delete(:message) %></p>
    </div>
  <% end %>

  <ul>
    <% @files.each do |file| %>
      <li><a href="/<%= file %>"><%= file %></a> | <a href="/<%= file %>/edit">edit</a></li>
    <% end %>
  </ul>
</body>