<ul>
  <% @files.each do |file| %>
    <li>
      <form method="post" action="/<%= file %>/delete">
        <a href="/<%= file %>"><%= file %></a> | 
        <a href="/<%= file %>/edit">edit</a>
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>