<form action="/images/add" method="post">
  <label for="imagename">Name of Image:</label>
  <div>
    <input name="imagename">
  </div>
  <label for="url">URL:</label>
  <div>
    <input name="url">
  </div>
  <button type="submit">Add</button>
</form>