<form action="/images/add" method="post">
  <label for="image_name">Name of Image:</label>
  <div>
    <input name="image_name">
  </div>
  <label for="path">Path to Image:</label>
  <div>
    <input name="path">
  </div>
  <button type="submit">Add</button>
</form>