<p>Registering for CMS Application!</p>

<form action="/users/create" method="post">
  <label for="username">Choose a Username:</label>
  <input name="username" value="<%= @username %>">
  <br>
  <label for="password">Choose a Password:</label>
  <input name="password">
  <br>
  <button type="submit">Create new user</button>
</form>