<%
=begin %>

Indicate that the user is on a sign up page.
 -> How do you do this?

Registering for CMS application!

Desired username:
We need an input for submitting a username

Desired password:
We need an input for submitting a password

Submit button.




<%
=end %>

<p>Registering for CMS Application!</p>

<form action="/users/create" method="post">
  <label for="username">Choose a Username:</label>
  <input name="username" value="<%= @username %>">
  <br>
  <label for="password">Choose a Password:</label>
  <input name="password">
  <br>
  <button type="submit">Create new user</button>
</form>